/.project
/.pydevproject
*.pyc
*/tests/data
*.pklz
*~
.DS_Store
.coverage
.settings/
*.swp 
.settings/
/arcana.egg-info/
/build/
/dist/
/docs/build
/docs/source/_build
.pytest_cache/
/.history
.env
/arcana/arcana2/test.log
__pycache__
test.log
