# requirements file for readthedocs.org
docutils>=0.10
mock>1.0
numpydoc>=0.6.0
sphinx-argparse>=0.2.0
xnat>=0.3.17
pydra @ https://github.com/tclose/pydra/archive/serial-worker-fix.zip
pydra-dcm2niix @ https://github.com/tclose/pydra-dcm2niix/archive/pydra-branch.zip
pydra-mrtrix3 @ https://github.com/tclose/pydra-mrtrix3/archive/pydra-branch.zip
pydicom>=1.0.2
nibabel>=3.2.1
natsort>=7.1.1
fasteners>=0.7.0
docker>=5.0.2
neurodocker==0.7.0
deepdiff>=3.3